<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% if title %}
        <title>{{ title }} - LoL</title>
    {% else %}
        <title>Netline</title>
    {% endif %}


    <!--bootsrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">    
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>    
    <!--bootsrap-->

    <link rel="stylesheet" href="{{url_for('static', filename='css/output-style.css')}}">

    <!--icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <!--icons-->
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">

    <!--jquery--><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script><!--jquery-->

    
</head>
<body class="bgtgradiant">
    <div class="bg-body-tertiary">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{url_for('home')}}">
                        <img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="khas_logo" width="45" height="40">
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('classification')}}">Classification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('drawing')}}">Drawing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('rlhf')}}">Bizim Projemiz</a>
                        </li>
                    </ul>

                </div>
                </div>
            </nav>
        </div>
    </div>

    {% block body %} 


    {% endblock %}

    <div class="footer">

    </div>
    
    <script defer src="{{ url_for('static', filename='scriptjava/fabric.js')}}"></script>

    <script defer src="{{ url_for('static', filename='scriptjava/script.js')}}"></script>
  
</body>
</html>


